<div class="home">
  <div class="container-sm mt-5">
    <div class="row">
      <div class="mx-auto" style="width: 50vw;">
        <h1 class="display-1">Battle</h1>
        <h2 class="display-5">Are you ready to battle?</h2>
      
        <form class="row g-3 mt-3" action="/names" method="post">
          <div class="col-12">
            <label for="player_1">Player 1</label>
            <input type="text" name="player_1">
          </div>
          <div class="col-12">
            <label for="player_2">Player 2</label>
            <input type="text" name="player_2">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
            <%# <input type="submit" name="Submit"> %>
        </form>
      </div>
    </div>
  </div>
</div>
